/*general*/

.subtitleA {
  /* animation-name: subtitleAAnm; */
  /* animation-timeline: view(); */
  animation-duration: 2s;

  font-size: 4rem;
  font-variant: small-caps;
  font-family: Times, serif;
  font-weight: 500;
  font-style: italic;
}
.subtitleB {
  /* animation-name: subtitleBAnm; */
  /* animation-timeline: view(); */
  animation-duration: 2s;

  font-size: 4rem;
  font-variant: small-caps;
  font-family: Times, serif;
  font-weight: 500;
  font-style: italic;
}

@keyframes subtitleAAnm {
  0% {
    transform: translateX(-100px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0px);
    opacity: 100%;
  }
}

@keyframes subtitleBAnm {
  0% {
    transform: translateX(100px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0px);
    opacity: 100%;
  }
}

.scroll-watcher {
  height: 0.4vh;
  position: fixed;
  top: 0;
  z-index: 100000;
  background-color: rgb(255, 255, 255);
  width: 100%;
  scale: 0 1;
  animation: scrollWatcher;
  animation-timeline: scroll();

  transform-origin: left;

  /* box-shadow: 5px 4px white 0.5; */
}

@keyframes scrollWatcher {
  0% {
    background-color: white;
  }

  100% {
    scale: 1 1;
    background-color: #a8c8e3;
  }
}

.navTitleIcon {
  animation-name: navTitleIconAnm;
  font-weight: 600;
  animation-duration: 1.5s;
}
@keyframes navTitleIconAnm {
  0% {
    opacity: 0%;
    transform: translateX(-250px);
  }

  100% {
    opacity: 100%;
    transform: translateX(-0px);
  }
}

.nav-link {
  animation-duration: 1s;
  animation-name: nav-linkAnm;
}
@keyframes nav-linkAnm {
  0% {
    opacity: 0%;
    transform: translateY(-10px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
/*------------------------------------program------------------------------------*/
.PA {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 15px;
  display: inline-block;
  flex-wrap: wrap;
  background-color: rgb(55, 64, 68);
  border-radius: 5px 5px 5px 5px;
  /* background-image: -moz-linear-gradient(right, blue); */
  /* border-width: 1px; */
  /* border-color: #ad771a; */
  color: white;
  box-shadow: #4a86b7 5px 5px 5px;
}

/* .PA1 {
  background-color: rgb(18, 33, 169);
}

.PA2 {
  background-color: rgb(26, 101, 221);
}

.PA3 {
  background-color: rgb(30, 142, 246);
} */
.PAScroll {
  display: block;
  animation: PAScrollAnm;
  animation-timeline: view();
}

@keyframes PAScrollAnm {
  0% {
    transform: translateY();
    opacity: 0%;
  }
  20% {
    transform: translateY(0vh);
    opacity: 100%;
  }
}
#pObj {
  flex-wrap: wrap;
}

#programIntro {
  flex-wrap: wrap;
}

#teachItemCont {
  max-width: 800px;
  place-content: center;
  place-self: center;
}

.teachItem {
  max-width: 300px;
  margin: 20px;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgba(230, 250, 250, 0.742);
  animation-timing-function: linear;
  animation-timeline: view();
  animation-name: teachItemsAnm;
  padding: 20px;
}

@keyframes teachItemsAnm {
  0% {
    transform: translateY(-20px);
    opacity: 0%;
  }
  20% {
    transform: translateY(0vh);
    opacity: 100%;
  }
}

#videoCont {
  place-content: center;
}

#introVideoDiv {
  width: 100vw;
  background-color: bisque;
}
@keyframes introVideoDivAnm {
}

.pageTitle {
  animation: pageTitleAnm;
  animation-duration: 1.5s;
  top: 20%;
}

@keyframes pageTitleAnm {
  0% {
    transform: translateY(-20px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0vh);
    opacity: 100%;
  }
}

#programDiv {
  background-image: url("https://player.vimeo.com/video/397054458");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

#sampleVideoIframe {
  width: 600px;
  height: 400px;
}
#ytIntro {
  width: 600px;
  height: 400px;
}
s

/*----------------------------------------story page--------------------------------------- */

.homeSection2 {
  display: block;
  /* justify-self: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  place-content: center;
  place-self: center;
  place-items: center; */
  /*--*/
  justify-self: left;
  justify-self: left;
  justify-content: left;
  justify-items: left;
  text-align: left;
  place-content: left;
  place-self: left;
  place-items: left;
}

.storyName {
  font-size: 2rem;
}
.sucessfulStory {
  padding: 4vw;
  margin-top: 20px;
  max-width: 800px;
  background-color: #d3dfea;
  justify-self: left;
  justify-self: left;
  justify-content: left;
  justify-items: left;
  text-align: left;
  place-content: left;
  place-self: left;
  place-items: left;
  border: none;
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgb(213, 214, 214);
}

.storyPicA {
  justify-self: left;
  justify-content: left;
  justify-items: left;
  text-align: left;
  place-content: left;
  place-self: left;
  place-items: left;
}
.storyPicB {
  justify-self: left;
  justify-content: left;
  justify-items: left;
  text-align: left;
  place-content: left;
  place-self: left;
  place-items: left;
}
.storyImg {
  justify-self: left;
  justify-content: left;
  justify-items: left;
  text-align: left;
  place-content: left;
  place-self: left;
  place-items: left;
}

.storyName {
  font-size: 3rem;
}

.storyDetail {
  text-align: left;
}

.storyDealership {
  font-weight: bolder;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*--------------------Landing Page---------------------- */

.landingPageTitle {
  animation-name: landingPageTitleAnm;
  animation-duration: 0.7s;
  display: block;

  color: rgb(255, 255, 255);

  font-variant: small-caps;
  font-weight: bold;
  font-size: 3.5rem;
}
@keyframes landingPageTitleAnm {
  0% {
    opacity: 0%;
    transform: translateY(-5vh);
  }
  100% {
    opacity: 100%;
  }
}
/* 
.LPintroPara {
  text-align: left;
  justify-items: left;
  top: 20%;
  left: 10%;
} */
@keyframes LPintroParaAnm {
  0% {
    opacity: 0%;
    transform: translateX(-10vh);
  }
  100% {
    opacity: 100%;
  }
}

.LPPA {
  animation-name: LPPAAnm;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  display: flex;
  flex-wrap: wrap;
  opacity: 0%;

  text-align: justify;
  font-family: "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
}
.LPPB {
  animation-name: LPPAAnm;
  animation-duration: 01s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  display: flex;
  flex-wrap: wrap;
  opacity: 0%;

  font-style: italic;
  color: rgb(174, 230, 167);
  text-align: justify;
  font-family: "Trebuchet MS", sans-serif;
}
.LPPC {
  animation-name: LPPAAnm;
  animation-duration: 1s;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
  opacity: 0%;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;

  color: rgb(255, 255, 255);
  font-family: "Trebuchet MS", sans-serif;
}
@keyframes LPPAAnm {
  0% {
    opacity: 0%;
    transform: translateX(-10vh);
  }
  100% {
    opacity: 100%;
  }
}

.LPPBtn {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  animation-name: LPPBtnAnm;
  animation-duration: 4s;
}

.LPTmBtn {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  animation-name: LPPBtnAnm;
  animation-duration: 4s;
}
@keyframes LPPBtnAnm {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.LPPBtn:hover {
  color: rgb(79, 106, 147);
  text-decoration: none;
  border-color: rgb(79, 106, 147);
}
.LPTmBtn:hover {
  color: rgb(200, 30, 30);
  text-decoration: none;
  border-color: rgb(200, 30, 30);
}

.LPLogo {
  animation-name: landingPageTitleAnm;
  animation-duration: 0.7s;
}

.LPArrowBlock {
  /* animation-timeline: view(); */
  animation-duration: 2s;

  animation-name: LPArrowBlockAnm;
}

@keyframes LPArrowBlockAnm {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

.headerLogo {
  animation-name: headerLogoAnm;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes headerLogoAnm {
  0% {
    opacity: 0%;
    transform: translateX(-5vh);
  }
  100% {
    opacity: 100%;
  }
}
#shrink-nav-btn {
  background-color: #e5e1da;
  animation-name: dropDownListAnm;
  animation-duration: 1s;
}

/* .shrink-nav {
  animation-name: dropDownListAnm;
  animation-duration: 0.5s;
} */
#dropDownList {
  animation-name: dropDownListAnm;
  animation-duration: 1s;
}
@keyframes dropDownListAnm {
  0% {
    opacity: 0%;
    transform: translateY(-5vh);
  }
  100% {
    opacity: 100%;
    transform: translateY(0vh);
  }
}

/*-----------------------testimonial-------------------------*/

/*Testimonial*/
.testiTextBG {
  background-color: rgb(235, 235, 211);
}

.ttname {
  font-size: 1.5rem;
  font-weight: 800;
}
.ttdealership {
  font-size: 1rem;
  font-weight: 500;
}

.ttposition {
  font-size: 1.1rem;
  font-weight: 700;
}
.ttdesc {
  font-size: 1rem;
  font-weight: 500;

  text-align: justify;
}

.testiTextBG {
  /* background-color: rgb(235, 235, 211); */
}

.ttname {
  animation-name: ttAnm;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 300ms;
  font-size: 3rem;
  opacity: 0;
}
.ttdealership {
  animation-name: ttAnm;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 300ms;
  background-color: (235, 235, 211);
  opacity: 0;
  font-size: 1.5rem;
}

.ttposition {
  animation-name: ttAnm;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 300ms;
  opacity: 0;
  font-style: italic;
}
.ttdesc {
  animation-name: ttAnm;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 500ms;
  text-align: justify;
  opacity: 0;
}

@keyframes ttAnm {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.PtipEach {
  animation-name: PtipEach;
  animation-timeline: view();
  justify-content: center;
  justify-items: center;
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(42, 45, 55, 0.492);
  color: aliceblue;
  opacity: 100%;
}

@keyframes PtipEach {
  0% {
    opacity: 0%;
    transform: translateY(3rem);
  }
  30% {
    opacity: 100%;
    transform: translateY(0rem);
  }
}

/*----------------------------About------------------------------------*/

.aboutGrids {
  animation-name: aboutGridsAnm;
  animation-timeline: view();
}
.aboutGrid {
  animation-name: aboutGridsAnm;
  animation-timeline: view();
  background-color: #90bce0;
}

@keyframes aboutGridsAnm {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  30% {
    transform: translateY(0px);
    opacity: 100;
  }
}

.aboutPara {
  animation-name: aboutParaAnm;
  max-width: 500px;
  place-self: center;
  text-align: justify;
  margin: 2rem;
  color: white;
  line-height: 1.5rem;
  flex-wrap: wrap;
}

@keyframes aboutParaAnm {
  0% {
  }
  100% {
  }
}

.aboutGrid {
  margin: 1.5vw;
  width: 25vw;
  min-width: 300px;
  background-color: rgba(159, 201, 237, 0.9);
  padding: 1.5vw;
  border-radius: 5px 5px;
  justify-self: center;
}

.aboutGrid:hover {
  scale: 1.1;
  /* width: 25vw;
  min-width: 300px;
  background-color: rgba(198, 187, 225, 0.268);
  padding: 3vw;
  border-radius: 5px 5px;
  justify-self: center; */
  transition: all;
  transition-duration: 200ms;
}

.aboutGridHeading {
  font-weight: bolder;
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 1.3rem;
  margin-bottom: 2vh;
}
.aboutGridContent {
  font-weight: normal;
  display: block;
  text-align: center;
}

/*------------------- Tip --------------------*/
#tipDiv {
  width: 14rem;
  background-color: #90bce0;
  position: absolute;
  top: 100px;
  right: 0px;
  place-content: right;
  place-self: right;
  z-index: 0;
}
