.scroll-watcher {
  height: 0.6vh;
  position: fixed;
  top: 0;
  z-index: 100000;
  background-color: rgb(255, 255, 255);
  width: 100%;
  scale: 0 1;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
  transform-origin: center;
  /* box-shadow: 5px 4px white 0.5; */
}

@keyframes scroll-watcher {
  0% {
    background-color: rgb(255, 255, 255);
  }

  100% {
    scale: 1 1;
  }
}

.navTitleIcon {
  animation: navTitleIconAnm;
  animation-timeline: scroll();
  font-weight: bolder;
}
@keyframes navTitleIconAnm {
  0% {
    opacity: 0%;
    transform: translateX(-30vw);
  }
  20% {
    transform: translateX(0vw);
  }
  30% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
    color: black;
  }
}

.headerTitle {
  animation: headerTitleFade;
  animation-timeline: scroll();
}

@keyframes headerTitleFade {
  0% {
    scale: 1 1;
  }
  100% {
    scale: 0.5 0.5;
    transition: ease;
    transform: translateX(-100px);
    transform: translateY(-100px);
    opacity: 30%;
  }
}

.PA {
  color: white;
  min-width: 200px;
  animation-name: PASlide;
  animation-timeline: scroll();
  color: white;
}

.PA1 {
  background-color: rgb(18, 33, 169);
}

.PA2 {
  background-color: rgb(26, 101, 221);
}

.PA3 {
  background-color: rgb(30, 142, 246);
}

@keyframes PASlide {
  0% {
    transform: translateX(50vw);
    opacity: 0%;
  }
  20% {
    transform: translateX(50vw);
    opacity: 100%;
  }
  /* 10% {
    transform: translateX(5vw);
    opacity: 100%;
  }
  50% {
    transform: translateX(0vw);
    opacity: 100%;
  }
  95% {
    transform: translateX(0vw);
    opacity: 100%;
  } */

  90% {
    opacity: 100%;
    transform: translateX(-30vw);
  }
  100% {
    opacity: 0%;
    transform: translateX(-30vw);
  }
}

.teachItem {
  width: 30vw;
  height: auto;
  min-width: 300px;
  margin-bottom: 10px;
  border-radius: 10px 25px;
  border-width: 1px;
  text-align: justify;
  background-color: antiquewhite;
  animation-timing-function: linear;
  animation-timeline: scroll();
  animation: teachItemsAnm;
  padding: 20px;
  line-height: 2vwpx;
}

@keyframes teachItemsAnm {
  0% {
    opacity: 10%;
    transform: translateY(-30vw);
  }
  30% {
    opacity: 100%;
    transform: translateY(0vw);
  }
  90% {
    opacity: 100%;
    transform: translateY(0vw);
  }

  100% {
    opacity: 10%;
    transform: translateY(30vw);
  }
}

.navTitle {
  animation-timeline: scroll();
  animation: navTitleAnm;
}
@keyframes navTitleAnm {
  0% {
    opacity: 0%;
    color: aqua;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
    color: black;
  }
}

#introVideoDiv {
  width: 100vw;
  background-color: bisque;
}
@keyframes introVideoDivAnm {
}

.pageTitle {
  animation: pageTitleAnm;
  animation-duration: 1.5s;
}

@keyframes pageTitleAnm {
  0% {
    transform: translateY(-20px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0vh);
    opacity: 100%;
  }
}
