@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  max-width: 100vw;
  width: 100%;
  transition-delay: 300ms;
  transition: all;
}
Link {
  text-decoration: none;
  color: white;
}
NavLink {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}
a:active {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
iframe {
  width: 100px;
}
/* class selector*/
.root {
  width: 100%;
}

/* .headerTitle {
  font-size: 40px;
  line-height: 40px;
  max-width: 100px;
  text-wrap: wrap;
  text-align: justify;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
} */
.nav-item {
  display: inline;
}
.shrinkNavBtn {
  text-align: center;
}

.programAdvantageCard {
  border-radius: 5 5;
}

/* id selector */
#mainContent {
  min-height: 100vh;
}

#introVideo {
  width: 100%;
}
#footerDiv {
  width: 100%;
  bottom: 0px;
  text-align: center;
}

#HeaderDiv {
  width: 100%;
}

#landingPage {
  min-height: 100vh;
  width: 100vw;
  display: block;
  background-image: linear-gradient(
    to right,
    rgb(151, 191, 255),
    rgb(85, 127, 191)
  );
}

#shrinkHeaderIcon {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2.5rem;
}

/* media */

@media (min-width: 480px) {
  #shrink-nav {
    display: block;
  }
  #full-nav {
    display: none;
  }
  .headerLogo {
    display: block;
    text-align: center;
    justify-self: center;
  }
  .LPPA {
    scale: 0.8;
    width: 100%;
    text-align: justify;
  }
  .LPPB {
    scale: 0.8;
    width: 100%;
    text-align: justify;
  }
  .LPPC {
    scale: 0.8;
    width: 100%;
    text-align: justify;
  }
  .LPLogo {
    position: relative block;
    justify-self: center;
  }

  .LPintroPara {
    width: 100%;
  }
}

@media (min-width: 640px) {
  #shrink-nav {
    display: none;
  }
  #full-nav {
    display: block;
  }
}

@media (min-width: 1000px) {
  #shrink-nav {
    display: none;
  }
  #full-nav {
    display: block;
  }
}

.gradientFont {
  background-image: linear-gradient(to right, #be0acb, #d11a0a, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.footerTitle {
  text-align: justify;
}

.sucessfulStory {
  border-width: 1px;
  padding: 3vw;
}

.storyName {
  font-size: 2rem;
}
